.search {
    margin: 1em 0 0 0;
    padding: .3em .5em;
    width: 100%;
    font-family: inherit;
    font-size: 1em;
    line-height: 1em;
    border: 4px solid #1e1130;
    -webkit-appearance: none;
    text-indent: .25em;
}

.content li {
    margin: 0 0 1em 0;
    padding: 0 1em;
    list-style: none;
    background-color: #eee;
    overflow: auto;
}
