.search {
    margin: 1em 0 0 0;
    padding: .4em .5em .4em 1.7em;
    width: 100%;
    font-family: inherit;
    font-size: 1em;
    line-height: 1.3em;
    border: 4px solid #1e1130;
    background: #fff url('../images/search.svg') no-repeat .5em 50%;
    background-size: .8em;
    -webkit-appearance: none;
}

.content li {
    margin: 0 0 1em 0;
    padding: 0 1em;
    list-style: none;
    background-color: #eee;
    overflow: auto;
}

.repo .download .updated {
    font-style: italic;
    color: #444;
}

@media screen and (min-width: 600px) {

    .repo {
        display: flex;
        align-items: center;
    }

    .repo .info,
    .repo .download {
        flex-grow: 1;
    }

    .repo .download {
        flex-basis: 20em;
        text-align: right;
    }

    .repo .download .updated {
        font-size: .85em;
    }

}
